<!DOCTYPE html>
{%  load staticfiles %}

<head>
    <title>about</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <!-- JavaScript -->
    <script src="{% static "js/jquery.js" %}"></script>
</head>
<body>
    <h1>This tutorial has been put together by Joshua White</h1>
    <div>
        <a href="/rango/">Index</a><br />
        <img src="{% static "images/fan.jpg" %}"
                 alt="Picture of fan" />
        <img src="{{ MEDIA_URL }}cat.jpg"
                alt="Picture of cat"/>
    </div>
</body>
</html>